
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 1);
}
.home-all-classes {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(217, 217, 217, 1);
  flex-direction: column;
}
.home-header2 {
  width: 100%;
  height: 73px;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3499999940395355) ;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  border-color: transparent;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: rgba(247, 105, 2, 1);
}
.home-logo {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.home-logo1 {
  width: 318px;
  height: 62px;
  position: relative;
  border-color: transparent;
}
.home-tab-section {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.home-text {
  color: rgba(255, 255, 255, 0.6600000262260437);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 46px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text01 {
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: 100%;
  font-size: 32px;
  align-self: center;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 46px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.home-text02 {
  color: rgba(255, 255, 255, 0.6600000262260437);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 46px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-notif-acc-setting {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.home-logout {
  width: 40px;
  height: 40px;
  position: relative;
}
.home-frame109 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: transparent;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-widgets {
  width: 100%;
  display: flex;
  padding: 20px 0 55px 0;
  position: relative;
  flex-wrap: wrap;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  margin-bottom: 35px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame71 {
  display: flex;
  padding: 0 25px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 25px;
  justify-content: space-between;
}
.home-group7 {
  width: 47px;
  height: 25px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group8 {
  width: 112px;
  height: 27.765823364257812px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-group5 {
  top: 0px;
  left: 0px;
  width: 112.0938720703125px;
  height: 27.765823364257812px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-frame99 {
  top: 0px;
  left: 0px;
  width: 27.765823364257812px;
  height: 27.765823364257812px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1.7353637218475342px 6.073773384094238px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.206091403961182px;
  background-color: rgba(247, 105, 2, 1);
}
.home-person-fill1wght700grad0opsz481 {
  top: 2.6025390625px;
  left: 2.60302734375px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.home-text05 {
  top: 5.515610694885254px;
  left: 33.093868255615234px;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 15.054292678833008px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame107 {
  gap: var(--dl-space-space-unit);
  width: 1105.3858642578125px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 25px;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.home-single-class {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame73 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame74 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text07 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class01 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7301 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7401 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text09 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class02 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7302 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7402 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class03 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7303 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7403 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class04 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7304 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7404 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class05 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7305 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7405 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text17 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class06 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7306 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7406 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text19 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class07 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7307 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7407 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text21 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-widgets1 {
  width: 100%;
  display: flex;
  padding: 20px 0 55px 0;
  position: relative;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  margin-bottom: 35px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame711 {
  display: flex;
  padding: 0 25px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 25px;
  justify-content: space-between;
}
.home-group71 {
  width: 47px;
  height: 25px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text23 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group81 {
  width: 112px;
  height: 27.765823364257812px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-group51 {
  top: 0px;
  left: 0px;
  width: 112.0938720703125px;
  height: 27.765823364257812px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-frame991 {
  top: 0px;
  left: 0px;
  width: 27.765823364257812px;
  height: 27.765823364257812px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1.7353637218475342px 6.073773384094238px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.206091403961182px;
  background-color: rgba(247, 105, 2, 1);
}
.home-person-fill1wght700grad0opsz4811 {
  top: 2.6025390625px;
  left: 2.60302734375px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.home-text25 {
  top: 5.515610694885254px;
  left: 33.093868255615234px;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 15.054292678833008px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame1071 {
  gap: var(--dl-space-space-unit);
  width: 1105.3858642578125px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 25px;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.home-single-class08 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7308 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7408 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class09 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7309 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7409 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text29 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class10 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7310 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7410 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class11 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7311 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7411 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text33 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class12 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7312 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7412 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text35 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class13 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7313 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7413 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class14 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7314 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7414 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text39 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class15 {
  width: 195.543701171875px;
  height: 156.97315979003906px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  justify-content: center;
}
.home-frame7315 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.7939789295196533px 9.866884231567383px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.381937026977539px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame7415 {
  top: 127.8212890625px;
  left: 0px;
  width: 195.543701171875px;
  height: 29.152156829833984px;
  display: flex;
  padding: 4.484947204589844px 8.969894409179688px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text41 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17.939788818359375px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
@media(max-width: 991px) {
  .home-logo1 {
    width: 216px;
    height: 42px;
  }
  .home-tab-section {
    align-self: center;
  }
  .home-text {
    font-size: 28px;
  }
  .home-text01 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 28px;
    font-weight: 700;
    line-height: 46px;
    text-decoration: none;
  }
  .home-text02 {
    color: rgba(255, 255, 255, 0.66);
    width: auto;
    font-size: 28px;
    font-weight: 700;
    line-height: 46px;
    text-decoration: none;
  }
  .home-frame107 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: center;
    margin-left: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    justify-content: center;
  }
  .home-frame1071 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: center;
    margin-left: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .home-logo1 {
    width: 166px;
    height: 32px;
  }
  .home-tab-section {
    height: 100%;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
  }
  .home-text {
    color: rgba(255, 255, 255, 0.66);
    font-size: 20px;
    align-self: center;
    font-weight: 700;
    line-height: 46px;
    text-decoration: none;
  }
  .home-text01 {
    height: auto;
    font-size: 20px;
  }
  .home-text02 {
    width: auto;
    font-size: 20px;
    align-self: center;
  }
}
