.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

td{
  padding: 1em;
}

.home-professor-dashboard {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 210, 178, 1);
}
.home-header3 {
  width: 100%;
  height: 83px;
  display: flex;
  padding: 30px 50px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3499999940395355) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: rgba(247, 105, 2, 1);
}
.home-logo {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.home-logo1 {
  width: 318px;
  height: 62px;
  position: relative;
  border-color: transparent;
}
.home-tab-section {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.home-tab {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 31.245468139648438px;
  flex-direction: column;
}
.home-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 25.420042037963867px;
  align-self: auto;
  box-shadow: 0px 2.1183366775512695px 4.236673355102539px 0px rgba(0, 0, 0, 0.3499999940395355) ;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 24.36087417602539px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 6.355010509490967px;
  text-decoration: none;
}
.home-line46 {
  width: 121px;
  height: 0px;
  position: relative;
  align-self: stretch;
}
.home-tab1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.home-text02 {
  color: rgba(255, 255, 255, 0.6600000262260437);
  height: auto;
  font-size: 25.420042037963867px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 24.36087417602539px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-notif-acc-setting {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.home-logout {
  width: 55px;
  height: 55px;
  position: relative;
}
.home-section {
  display: flex;
  padding: 50px 60px 25px 80px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
}
.home-widgets {
  height: 510px;
  width: 692px;
  display: flex;
  padding: 13.930481910705566px 0 39.701873779296875px 0;
  position: relative;
  box-shadow: 0px 2.7860963344573975px 15.323530197143555px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-title {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0 320px 0 24.37834358215332px;
  border-color: transparent;
  padding-left: 0 320px 0 24.37834358215332px;
  margin-bottom: 31.343584060668945px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0 320px 0 24.37834358215332px;
  justify-content: space-between;
}
.home-text04 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  padding-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.home-chart {
  width: 521px;
  display: flex;
  padding: 0 84.97593688964844px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.home-pie-chart {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 32.04010772705078px;
  flex-direction: column;
}
.home-group3 {
  width: 387px;
  height: 385.87432861328125px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 17.413101196289062px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-ellipse1 {
  top: 84.9765625px;
  left: 193.6337890625px;
  width: 193px;
  height: 290px;
  position: absolute;
}
.home-ellipse2 {
  top: 0px;
  left: 0px;
  width: 387px;
  height: 386px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.6965240836143494px;
}
.home-ellipse3 {
  top: 0px;
  left: 0px;
  width: 387px;
  height: 386px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.6965240836143494px;
}
.home-legend {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.home-rectangle7 {
  width: 24px;
  height: 24px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.6965240836143494px;
  margin-right: 14.627005577087402px;
}
.home-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.716577529907227px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 14.627005577087402px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-rectangle8 {
  width: 24px;
  height: 24px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.6965240836143494px;
  margin-right: 14.627005577087402px;
}
.home-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.716577529907227px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 14.627005577087402px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-rectangle9 {
  width: 24px;
  height: 24px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.6965240836143494px;
  margin-right: 14.627005577087402px;
}
.home-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.716577529907227px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-dropdown {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.home-unsuccessful-logins {
  display: flex;
  padding: 1.6898488998413086px 5.069546699523926px;
  position: relative;
  box-shadow: 0px 0.8449244499206543px 3.379697799682617px 0px rgba(0, 0, 0, 0.3499999940395355) ;
  align-items: center;
  border-color: transparent;
  margin-right: 10.984017372131348px;
  border-radius: 2.95723557472229px;
  justify-content: center;
  background-color: rgba(243, 243, 243, 1);
}
.home-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15.208640098571777px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 3.379697799682617px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-polygon1 {
  width: 8px;
  height: 8px;
  position: relative;
}
.home-iste240 {
  display: flex;
  padding: 1.6898488998413086px 5.069546699523926px;
  position: relative;
  box-shadow: 0px 0.8449244499206543px 3.379697799682617px 0px rgba(0, 0, 0, 0.3499999940395355) ;
  align-items: center;
  border-color: transparent;
  border-radius: 2.95723557472229px;
  justify-content: center;
  background-color: rgba(243, 243, 243, 1);
}
.home-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15.208640098571777px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 3.379697799682617px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-polygon11 {
  width: 8px;
  height: 8px;
  position: relative;
}
.home-widgets1 {
  height: 510px;
  display: flex;
  padding: 22px 21px;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-heading {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 15px;
}
.home-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 10px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-filter {
  display: flex;
  padding: 1.672699213027954px 5.018097400665283px;
  position: relative;
  box-shadow: 0px 0.836349606513977px 3.345398426055908px 0px rgba(0, 0, 0, 0.3499999940395355) ;
  align-items: center;
  border-color: transparent;
  border-radius: 2.9272236824035645px;
  justify-content: center;
  background-color: rgba(243, 243, 243, 1);
}
.home-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15.054292678833008px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 3.345398426055908px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-polygon12 {
  width: 8px;
  height: 8px;
  position: relative;
}
.home-section1 {
  width: 539px;
  height: 199px;
  display: flex;
  padding: 10px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 15px;
  flex-direction: column;
}
.home-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.home-class-structure {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.home-single-class {
  width: var(--dl-size-size-large);
  height: 147.5709228515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
}
.home-frame73 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.6865248680114746px 9.275886535644531px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame74 {
  top: 120.1648941040039px;
  left: 0px;
  width: 100%;
  height: 27.406028747558594px;
  display: flex;
  padding: 4.216312408447266px 8.432624816894531px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text21 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class1 {
  width: var(--dl-size-size-large);
  height: 147.5709228515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
}
.home-frame731 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.6865248680114746px 9.275886535644531px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame741 {
  top: 120.1648941040039px;
  left: -0.00002956390380859375px;
  width: 100%;
  height: 27.406028747558594px;
  display: flex;
  padding: 4.216312408447266px 8.432624816894531px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text23 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.865249633789062px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class2 {
  width: var(--dl-size-size-large);
  height: 147.5709228515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
}
.home-frame732 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.6865248680114746px 9.275886535644531px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame742 {
  top: 120.1648941040039px;
  left: 0.0000019073486328125px;
  width: 100%;
  height: 27.406028747558594px;
  display: flex;
  padding: 4.216312408447266px 8.432624816894531px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text25 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.865249633789062px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-section2 {
  display: flex;
  padding: 10px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(239, 239, 239, 1);
  height: 100px;
  overflow-y: scroll;
}
.home-title1 {
  display: flex;
  padding: 0 0 5px 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 5px;
}
.home-text27 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-logs {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.home-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.home-text31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.home-text33 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.home-text35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.home-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.home-text39 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.home-text41 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-section3 {
  display: flex;
  padding: 25px 80px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
  gap: 0.5em;
}
.home-widgets2 {
  width: 521px;
  height: fit-content;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2.799999952316284px 15.399999618530273px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: 15.399999618530273px 0 0 0;
  border-radius: 8.399999618530273px;
  padding-right: 15.399999618530273px 0 0 0;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 1);
}
.home-frame71 {
  display: flex;
  padding: 0 42px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10.5px;
}
.home-text43 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 10.5px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-iste2401 {
  display: flex;
  padding: 1.672699213027954px 5.018097400665283px;
  position: relative;
  box-shadow: 0px 0.836349606513977px 3.345398426055908px 0px rgba(0, 0, 0, 0.3499999940395355) ;
  align-items: center;
  border-color: transparent;
  border-radius: 2.9272236824035645px;
  justify-content: center;
  background-color: rgba(243, 243, 243, 1);
}
.home-text45 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15.054292678833008px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 3.345398426055908px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-polygon13 {
  width: 8px;
  height: 8px;
  position: relative;
}
.home-logs1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: 42px;
  padding-right: 42px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(234, 234, 234, 1);
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.home-text47 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12.59999942779541px;
  text-decoration: none;
}
.home-text49 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12.59999942779541px;
  text-decoration: none;
}
.home-text51 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12.59999942779541px;
  text-decoration: none;
}
.home-text53 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12.59999942779541px;
  text-decoration: none;
}
.home-text55 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12.59999942779541px;
  text-decoration: none;
}
.home-text57 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12.59999942779541px;
  text-decoration: none;
}
.home-text59 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12.59999942779541px;
  text-decoration: none;
}
.home-text61 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12.59999942779541px;
  text-decoration: none;
}
.home-text63 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16.799999237060547px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12.59999942779541px;
  text-decoration: none;
}
.home-widgets3 {
  width: 850px;
  height: 570px;
  display: flex;
  padding: 20px;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame711 {
  display: flex;
  padding: 0 42px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 25px;
  justify-content: space-between;
}
.home-group7 {
  width: 143px;
  height: 25px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text65 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-iste2402 {
  top: 2.1195311546325684px;
  left: 88.93972778320312px;
  display: flex;
  padding: 1.672699213027954px 5.018097400665283px;
  position: absolute;
  box-shadow: 0px 0.836349606513977px 3.345398426055908px 0px rgba(0, 0, 0, 0.3499999940395355) ;
  align-items: center;
  border-color: transparent;
  border-radius: 2.9272236824035645px;
  justify-content: center;
  background-color: rgba(243, 243, 243, 1);
}
.home-text67 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15.054292678833008px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 3.345398426055908px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-polygon14 {
  width: 8px;
  height: 8px;
  position: relative;
}
.home-group8 {
  width: 112px;
  height: 27.765823364257812px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-group5 {
  top: 0px;
  left: 0px;
  width: 112.0938720703125px;
  height: 27.765823364257812px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-frame99 {
  top: 0px;
  left: 0px;
  width: 27.765823364257812px;
  height: 27.765823364257812px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1.7353637218475342px 6.073773384094238px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.206091403961182px;
  background-color: rgba(247, 105, 2, 1);
}
.home-person-fill1wght700grad0opsz481 {
  top: 2.6025390625px;
  left: 2.60302734375px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.home-text69 {
  top: 5.515610694885254px;
  left: 33.093868255615234px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15.054292678833008px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-class-structure1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 25px;
}
.home-single-class3 {
  width: 183.83120727539062px;
  height: 147.5709228515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  border-radius: 5.059574604034424px;
  flex-direction: column;
}
.home-frame733 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.6865248680114746px 9.275886535644531px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame743 {
  top: 120.1648941040039px;
  left: 0px;
  width: 183.83120727539062px;
  height: 27.406028747558594px;
  display: flex;
  padding: 4.216312408447266px 8.432624816894531px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text71 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.865249633789062px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class4 {
  width: 183.83120727539062px;
  height: 147.5709228515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
}
.home-frame734 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.6865248680114746px 9.275886535644531px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame744 {
  top: 120.1648941040039px;
  left: 0.00021457672119140625px;
  width: 183.83120727539062px;
  height: 27.406028747558594px;
  display: flex;
  padding: 4.216312408447266px 8.432624816894531px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text73 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.865249633789062px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-class-structure2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 25px;
}
.home-single-class5 {
  width: 183.83120727539062px;
  height: 147.5709228515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  border-radius: 5.059574604034424px;
  flex-direction: column;
}
.home-frame735 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.6865248680114746px 9.275886535644531px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame745 {
  top: 120.1648941040039px;
  left: 0px;
  width: 183.83120727539062px;
  height: 27.406028747558594px;
  display: flex;
  padding: 4.216312408447266px 8.432624816894531px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text75 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.865249633789062px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class6 {
  width: 183.83120727539062px;
  height: 147.5709228515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
}
.home-frame736 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.6865248680114746px 9.275886535644531px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame746 {
  top: 120.1648941040039px;
  left: 0.00021457672119140625px;
  width: 183.83120727539062px;
  height: 27.406028747558594px;
  display: flex;
  padding: 4.216312408447266px 8.432624816894531px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text77 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.865249633789062px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-class-structure3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.home-single-class7 {
  width: 183.83120727539062px;
  height: 147.5709228515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  border-radius: 5.059574604034424px;
  flex-direction: column;
}
.home-frame737 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.6865248680114746px 9.275886535644531px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame747 {
  top: 120.1648941040039px;
  left: 0px;
  width: 183.83120727539062px;
  height: 27.406028747558594px;
  display: flex;
  padding: 4.216312408447266px 8.432624816894531px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text79 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.865249633789062px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-single-class8 {
  width: 183.83120727539062px;
  height: 147.5709228515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
}
.home-frame738 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1.6865248680114746px 9.275886535644531px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 5.059574604034424px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame748 {
  top: 120.1648941040039px;
  left: 0.00021457672119140625px;
  width: 183.83120727539062px;
  height: 27.406028747558594px;
  display: flex;
  padding: 4.216312408447266px 8.432624816894531px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(247, 105, 2, 1);
}
.home-text81 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.865249633789062px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
